<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="CanonicalHostNameRule2" stopProcessing="true">
                    <match url="(.*).php" />
                    <action type="Redirect" url="http://www.lazaroto.com.br" redirectType="Found" appendQueryString="False" />
                </rule>

                <rule name="CanonicalHostNameRule3" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.lazaroto\.com\.br$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.lazaroto.com.br/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
